.head {
  background-color: rgba(236, 236, 236, 0.81);
}

.text-center {
  color: rgba(0, 107, 245, 0.94);
}

.row {
  margin-top: 100px;
}

.col_right {
  box-shadow: 0 9px 8px 0 rgba(14, 6, 6, 0.2);
  background-color:  #ffffff;
  text-align: center;
  margin-left: 50px;
  border-width: 300px;
   border-top: 2px solid #5c94ea;
}


.col_center {
  box-shadow: 0 9px 8px 0 rgba(14, 6, 6, 0.2);
  background-color:  #ffffff;
  text-align: center;
  margin-left: 50px;
   border-top: 2px solid #5c94ea;
}

.col_left {
  box-shadow: 0 9px 8px 0 rgba(14, 6, 6, 0.2);
  background-color:  #ffffff;
  text-align: center;
  margin-left: 300px;
   border-top: 2px solid #5c94ea;
}


.card-text-1 {
  color: #a2a1a1;
}
.text_strong {
  text-align: center;
  color: rgba(0, 107, 245, 0.94);;
}
.text {
  text-align: center;
  color: #a2a1a1;
}

.card-title-1 {
  color: rgba(0, 107, 245, 0.94);
}

.title {
  text-align: center;
  color: rgba(0, 107, 245, 0.94);
}
.cat {
  text-decoration: none;
  color: #1b1b1b;
  position: relative;
    cursor: pointer;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.cat:hover{
  color: rgba(0, 107, 245, 0.94);
}

.cat:after{
  content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #a2a1a1;
    transition: width 0.5s;
}

.cat:hover:after{
  content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #a2a1a1;
    transition: width 0.5s;
}

.backgraund {
  background-color: rgba(236, 236, 236, 0.81);
}

.category {
   box-shadow: 0 9px 8px 0 rgba(14, 6, 6, 0.2);
  background-color:  #ffffff;
  text-align: center;
  margin-left: 100px;
   border-top: 2px solid #5c94ea;
}
